<h1>Users</h1>

<table class="table table-striped">
 <thead>
  <tr>
   <th>image</th>
   <th>name</th>
   <th colspan="3"></th>
  </tr>
 </thead>

 <tbody>
 <% @users.each do |user| %>
 <tr>
  <td></td>
  <td><%= link_to book.title, "/books/#{book.id}" %></td>
  <td><%= user.name %></td>
 </tr>
 <% end %>
</tbody>
</table>