<div class="container">
 <div class="row">

  <div class="col-lg-4 col-md-3">
<%= render partial: 'books/new', locals: { book: @book, user: @user } %>
  </div>

<div class="col-lg-8 col-md-9">
<table class="table table-striped">

 <h1>Books</h1>
 <thead>
  <tr>
    <th></th>
   <th>Title</th>
   <th>Option</th>
   <th colspan="3"></th>
  </tr>
 </thead>

 <tbody>
 <% @books.each do |book| %>
 <tr>
  <td></td>
  <td><%= link_to book.title, "/books/#{book.id}" %></td>
  <td><%= book.body %></td>
 </tr>
 <% end %>
</tbody>
</table>
<%= paginate @books %>
</div>
</div>
</div>